<div class="mx-auto p-4" style="width: 75%; background: #e9ecef">

  <h1>Nova categoria de produto</h1>

  <%= form_with(model: @product_category) do |f| %>
    <div>
      <%= f.label :name, 'Nome' %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
      <%= f.submit "Salvar" %>
    </div>

  <% end %>

</div>