<div class="mx-auto p-4" style="width: 75%; background: #e9ecef">

  <h1>Produtos cadastrados</h1>

  <% if @items.any? %>

  <% @items.each do |item| %>
    <%= link_to item.name, item_path(item.id) %><br />
  <% end %>

  <% else %>
    <p class="alert alert-warning mt-4" role="alert">Não há produtos cadastrados</p>
  <% end %>

</div>