  <div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 border-opacity-50 rounded-4 mt-4" style="width: 75%; background: #e9ecef">
  <h3 class="mb-5 ms-4 text-success">Lotes pendentes</h3>

  <h3><%= 'Nenhum lote cadastrado' if @pending_lots.empty? %></h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <% if current_user && current_user.admin? %>
      <% if @pending_lots.any? %>
        <% @pending_lots.each do |lot| %>
          <% if lot.pending_approval? %>
            <div class="col mb-3">
              <div class="card">
                <div class="card border border-secondary border-opacity-50 rounded-3">
                  <div class="card-body">
                    <h6 class="card-title">Previsão de abertura:</h6>
                    <p class="card-text"><%= I18n.l(lot.start_date) %></p>
                    <%= link_to "#{lot.code}", lot_path(lot), class: "btn btn-warning mb-3 mt-2"  %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


