.hide {
  display: none;
}

.custom-nav-item {
  font-size: .9rem;
  padding-top: .5rem;
}

.search-field-width {
  width: 10rem;
}

.user-image {
  margin-top: .3rem;
}

.label-text {
  font-size: .9rem;
}

.label-font {
  font-size: 1rem;
}